* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.center {
  text-align: center;
}

body {
  background-color: #be8762;
}

header {
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #1a4732;
  color: #ffffff;
}

header h1 {
  display: inline-block;
  font-size: 48px;
}

header h1 .seo {
  color: #d9dcd6;
}

nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}
/* Changed header div designation to nav designation */
nav ul {
  display: inline-block;
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin-left: 25px;
}

a {
  color: #ffffff;
  text-decoration: none;
  color: rgb(156, 28, 28);
}

p {
  font-size: 16px;
}

.hero {
  height: 25px;
  width: 50%;
  margin-bottom: 5px;
  background-image: url("../images/digital-marketing-meeting.jpg");
  background-size: cover;
  background-position: center;
  flex-direction: column;
}

.float-left {
  float: left;
  margin-right: 25px;
}

.float-right {
  float: right;
  margin-left: 25px;
}

/* changed content designation to section designation */

section {
  position: absolute;
  width: 75%;
  display: block;
  margin-left: 150px;
  flex-direction: column;
}

/* Turned all benifit tabs into aside designation */
aside {
  margin-right: 20px;
  padding: 20px;
  clear: both;
  float: right;
  width: 20%;
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #1a4732;
  margin-bottom: 32px;
  color: #ffffff;
}

aside h3 {
  margin-bottom: 10px;
  text-align: center;
}

aside img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}
/* Turned the online-reputation-management, social media marketing, and search engin optimization designations into .information designation*/
.information {
  position: relative;
  margin-bottom: 30px;
  padding: 25px;
  height: 250px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #1a4732;
  color: #ffffff;
  border-radius: 15px 15px 15px 15px;
}

.contact {
  position: relative;
  top: 900px;
  right: 0px;
  left: 80px;
  /* margin-bottom: 50px; */
  padding: 25px;
  /* height: 150px; */
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #1a4732;
  color: #ffffff;
  border-radius: 15px 15px 15px 15px;
}

.resume {
  margin-bottom: 20px;
  padding: 25px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #1a4732;
  color: #ffffff;
  border-radius: 15px 15px 15px 15px;
}

/* Turned the online-reputation-management, social media marketing, and search engin optimization designations into section deesignation */
section img {
  max-height: 200px;
}

section h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

.footer {
  padding: 30px;
  clear: both;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
  width: 50%;

  margin-left: 300px;
}

.footer h2 {
  font-size: 20px;
}

@media only screen and (max-width: 1024px) {
  section {
    display: block;
    /* overflow: hidden; */
    padding: 10px;
    border-radius: 15px;
    /* border: 3px solid; */
    gap: 10px;
    width: 80%;
    height: 250px;
    margin: 25px auto;
    flex-direction: column;
  }
}
@media only screen and (max-width: 1050px) {
  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: auto;
    /* overflow: hidden; */
    padding: 10px;
    border-radius: 15px;
    /* border: 3px solid; */
    gap: 10px;
    width: 80%;
    height: 250px;
    margin: 25px auto;
  }
}
@media only screen and (max-width: 1067px) {
  .hero {
    /* display: block; */
    /* overflow: hidden; */
    padding: 10px;
    border-radius: 15px;
    /* border: 3px solid; */
    gap: 10px;
    width: 80%;
    height: 75px;
    margin: auto;
    flex-direction: block;
  }
}

@media only screen and (max-width: 1050px) {
  nav li {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }
}

/* [1] The container */
.res {
  height: 600px; /* [1.1] Set it as per your need */
  /* overflow: hidden; [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
.res img {
  transition: transform 0.5s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.res:hover img {
  transform: scale(5);
}
